body {
   background-color: #181818;
}

#main-image {
   text-align: center;
}

#main-image img {
   width: 621px;
   height: 88px;
}

h2 {
   color: #00ff78;
   font-family: 'Slabo 27px', serif;
   text-align: center;
}

nav {
   background-color: #00ff78;
   color: #181818;
   border-radius: 10px;
   width: 80%;
   margin: 5px auto;
   padding: 1.5em;
   justify-content: center;
}

#sec-page-nav {
   background-color: #00ff78;
   color: #181818;
   border-radius: 10px;
   width: 15%;
   float: left;
   padding: 1.0em;
   display: flex;
   justify-content: left;
}

#sec-page-nav ol li {
   margin-bottom: 20px;
}

#sec-page-nav ol li a {
   color: #181818;
}

#sec-page-desc-para {
   width: 75%;
   float: right;
}

#sec-page-links-container {
   border-radius: 10px;
   float: right;
   width: 80%;
   display: grid;
   grid-template-columns: auto auto auto;
}

#sec-page-links-container a {
   background-color: #00ff78;
   color: #181818;
   padding: 50px;
   border: 3px solid #181818;
   border-radius: 10px;
}

#thi-page-nav {
   background-color: #00ff78;
   color: #181818;
   border-radius: 10px;
   width: 15%;
   float: left;
   padding: 1.0em;
   display: flex;
   justify-content: left;
}

main p {
   background-color: #00ff78;
   color: #181818;
   margin: 5px auto;
   padding: 1.5em;
   border-radius: 10px;
   font-family: 'Slabo 27px', serif;
   width: 75%;
   float: right;
}

nav ol li a {
   font-family: 'Slabo 27px', serif;
}

ul {
   background-color: #00ff78;
   color: #181818;
   border-radius: 10px;
   width: 80%;
   margin: 5px auto;
   padding: 1.5em;
   justify-content: center;
}

ul li a {
   font-family: 'Slabo 27px',serif;
}

p {
   background-color: #00ff78;
   color: #181818;
   margin: 5px auto;
   padding: 1.5em;
   border-radius: 10px;
   font-family: 'Slabo 27px', serif;
   width: 80%;
}

#mathSpan {
   padding: 10px;
   margin: 5px;
}
